{%extends 'layout.html'%}

{% block tittle %}
Edit User
{% endblock %}


{%block main%}

<div class="container-fluid d-flex justify-content-center align-items-center p-5">

    <div class="row w-100 justify-content-evenly align-items-center">
        <div class="col-lg-8">
            <h2 class="text-primary text-center">Edit user</h2>
            <form id="form_signup" class="" action="/user/edit/{{usuario.id}}">
                
                <div class="input-group my-1">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src=" {{url_for('img', filename='employee_icon.svg')}} " alt="">
                    </span>
                    <input id="num_employee" name="num_employee" type="text" class="form-control"
                        placeholder="N° Employee" aria-label="id" aria-describedby="addon-wrapping"
                        data-tipo="num_employee" pattern="[0-9]" required minlength="5" maxlength="7"
                        value="{{ usuario.username }}" disabled>
                    <label for="num_employee"></label>
                    <span class="error-false"></span>
                </div>

                <div class="input-group my-1">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="{{url_for('img', filename='name_icon.svg')}}" alt="">
                    </span>
                    <input id="first_name" name="first_name" type="text" class="form-control input-signup"
                        placeholder="First Name" aria-label="first_name" aria-describedby="addon-wrapping"
                        data-tipo="first_name" required minlength="3" maxlength="25"
                        value="{{ usuario.first_name }}">
                    <label for="first_name"></label>
                    <span class="error-false"></span>
                </div>

                <div class="input-group my-1">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="{{url_for('img', filename='name_icon.svg')}}" alt="">
                    </span>
                    <input id="last_name" name="last_name" type="text" class="form-control input-signup"
                        placeholder="Last Name" aria-label="last_name" aria-describedby="addon-wrapping"
                        data-tipo="last_name" required minlength="3" maxlength="25"
                        value="{{ usuario.last_name }}">
                    <label for="last_name"></label>
                    <span class="error-false"></span>
                </div>

                <div class="input-group my-1">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src=" {{url_for('img', filename='user_icon.svg')}} " alt="">
                    </span>
                    <input id="email" name="email" type="email" class="form-control input-login"
                        placeholder="Email@example.com" aria-label="email" aria-describedby="addon-wrapping"
                        data-tipo="email" required
                        value="{{ usuario.email }}">
                    <label for="email"></label>
                    <span class="error-false"></span>
                </div>

                
                <div class="form-floating my-1">
                    <select id="campaign" name="campaign" class="form-select input-signup" data-tipo="campaign"
                        required>
                        <option disabled>Select a campaign</option>
                        <option value="1">UP</option>
                        <option value="2">ATH Movil</option>
                        <option value="3">Place to Pay</option>
                    </select>
                    <label for="campaign">Campaign</label>
                </div>
                
                <div class="form-floating my-1">
                    <select id="role" name="role" class="form-select input-signup" data-tipo="role" required>
                        <option disabled>Select a role</option>
                        <option value="1">Analyst</option>
                        <option value="2">Supervisor</option>
                    </select>
                    <label for="role">Role</label>
                </div>
                
                <hr>

                <div class="form-btn d-flex justify-content-end">
                    <button id="submit_login" class="btn btn-primary" type="submit" disabled>Create User</button>
                </div>

            </form>

        </div>
    </div>

</div>

{%endblock%}
{{super()}}