{% extends 'layout.html' %}

{% block title %}
Usuarios
{% endblock %}

{% block main %}

<div class="container-fluid d-flex align-items-start p-5">

    <div class="row w-100">

        <div class="col-lg-3 d-flex justify-content-center">
            <img class="logo_lg img-fluid" src="{{ url_for('img', filename='logo.png') }}" alt="Logo">
        </div>

        <div class="col-lg-9">

            <h2 class="text-primary text-center">Usuarios</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Num Empleado</th>
                        <th class="text-center" scope="col">Nombre Completo</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Rol</th>
                        <th class="text-center" scope="col">Campaña</th>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    {% for usuario in usuarios %}
                    <tr scope="">
                        <td class="text-center">
                            <p class="">
                                {{ usuario.username }}
                            </p>
                    </td>
                        <td class="text-center">{{ usuario.full_name }}</td>
                        <td class="text-center">{{ usuario.email }}</td>
                        <td class="text-center">{{ usuario.role }}</td>
                        <td class="text-center">{{ usuario.campaign }}</td>
                        <td class="text-center"> 
                            <a class="btn btn-warning" href=' {{url_for("user.edit_user", id=usuario.id)}} '>
                                <img src="{{ url_for('img', filename='edit.svg')}}" alt="">
                            </a>
                        </td>
                        <td class="text-center">
                            
                            <a class="btn btn-danger" href=''>
                                <img src="{{ url_for('img', filename='delete.svg')}}" alt="">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{{ super() }}
