{% extends 'layout.html' %}

{% block tittle %}
Usuarios
{% endblock %}

{% block main %}

<div class="container-fluid">

    <div class="row w-100">

        <div class="col-lg-12">

            <h2 class="text-primary text-center">Usuarios</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Num Empleado</th>
                        <th class="text-center" scope="col">Nombre Completo</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Rol</th>
                        <th class="text-center" scope="col">Campaña</th>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                {% for usuario in usuarios %}
                    <tr class="">
                        <th class="text-center" scope="row">{{ usuario.username }}</th>
                        <td class="text-center">{{ usuario.full_name }}</td>
                        <td class="text-center">{{ usuario.email }}</td>
                        <td class="text-center">{{ usuario.role }}</td>
                        <td class="text-center">{{ usuario.campaign }}</td>
                        <td class="text-center"> 
                            <a class="btn btn-warning" href=' {{url_for("user.edit_user", id=usuario.id)}} '>
                                <img src="{{ url_for('img', filename='edit.svg')}}" alt="edit">
                            </a>
                        </td>
                        <td class="text-center">
                            
                            <a class="btn btn-danger h-75" href='{{url_for("user.delete_user", id=usuario.id)}}'>
                                <img src="{{ url_for('img', filename='delete.svg')}}" alt="delete">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{{ super() }}
