{%extends 'layout.html'%}

{% block tittle %}
Create User
{% endblock %}


{%block main%}

<div class="container">

    <form id="form_signup" class="my-2 mb-2" action="" method="POST">

        <div class="d-flex"> 
            <div class="input-group w-25 align-items-center justify-content-center ms-1 me-1 my-1 mb-1">
                <label for="ET">ET</label>
                <input id="ET" value="ET" class="w-25 input-signup" type="radio" name="prefijo"
                    data-tipo="type_employee" required>
            </div>
            <div class="input-group w-25 align-items-center justify-content-center ms-1 me-1 my-1 mb-1">
                <label for="AE">AE</label>
                <input id="AE" value="AE" class="w-25 input-signup" type="radio" name="prefijo"
                    data-tipo="type_employee" required>
            </div>
            <div class="input-group w-50 ms-1 me-1 my-1 mb-1">
                <span class="input-group-text" id="addon-wrapping">
                    <img src=" {{url_for('img', filename='employee_icon.svg')}} " alt="">
                </span>
                <input id="N° Empleado" name="num_employee" type="text" class="form-control" placeholder="N° Employee"
                    aria-label="id" aria-describedby="addon-wrapping" data-tipo="numemployee" required
                    pattern="^\d{5,6}$">
                <label for="N° Empleado"></label>
                <span class="error-false"></span>
            </div>
        </div>

        <div class="d-flex">
            <div class="input-group ms-1 me-1 my-1 mb-1">
                <span class="input-group-text" id="addon-wrapping">
                    <img src="{{url_for('img', filename='name_icon.svg')}}" alt="">
                </span>
                <input id="Nombre" name="first_name" type="text" class="form-control input-signup"
                    placeholder="First Name" aria-label="first_name" aria-describedby="addon-wrapping"
                    data-tipo="first_name" required pattern="^[a-zA-Z]{3,25}$">
                <label for="Nombre"></label>
                <span class="error-false"></span>
            </div>

            <div class="input-group ms-1 me-1 my-1 mb-1">
                <span class="input-group-text" id="addon-wrapping">
                    <img src="{{url_for('img', filename='name_icon.svg')}}" alt="">
                </span>
                <input id="Apellido" name="last_name" type="text" class="form-control" placeholder="Last Name"
                    aria-label="last_name" aria-describedby="addon-wrapping" data-tipo="last_name" required
                    pattern="^[a-zA-Z]{3,25}$">
                <label for="Apellido"></label>
                <span class="error-false"></span>
            </div>
        </div>

        <div class="d-flex">
            <div class="input-group ps-1 pe-1 py-1 pb-1 w-50">
                <span class="visibility input-group-text" id="addon-wrapping">
                    <img class="visibilityImg" src=" {{url_for('img', filename='visibility_icon.svg')}} " alt="">
                    <img class="invisibilityImg" src="{{url_for('img', filename='pass_icon.svg')}}" alt="">
                </span>
                <input id="Contraseña" name="password" type="password" class="form-control" placeholder="Password"
                    aria-label="password" aria-describedby="addon-wrapping" data-tipo="password" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!?@#$%^&*()_+-]).{8,15}$">
                <label for="Contraseña"></label>
                <span class="error-false"></span>
            </div>

            <div class="input-group ps-1 pe-1 py-1 pb-1 w-50">
                <span class="visibility input-group-text" id="addon-wrapping">
                    <img id="" class="visibilityImg" src="{{url_for('img', filename='visibility_icon.svg')}}" alt="">
                    <img class="invisibilityImg" src="{{url_for('img', filename='pass_icon.svg')}}" alt="">

                </span>
                <input id="Confirmacion de contraseña" name="confirm-password" type="password" class="form-control"
                    placeholder="Confirm Password" aria-label="confirm-password" aria-describedby="addon-wrapping"
                    data-tipo="password" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!?@#$%^&*()_+-]).{8,15}$">
                <label for="Confirmacion de contraseña"></label>
                <span class="error-false"></span>
            </div>
        </div>

        <div class="input-group ms-1 me-1 my-1 mb-1">
            <span class="input-group-text" id="addon-wrapping">
                <img src=" {{url_for('img', filename='user_icon.svg')}} " alt="">
            </span>
            <input id="Email" name="email" type="email" class="form-control input-login" placeholder="Email@example.com"
                aria-label="email" aria-describedby="addon-wrapping" data-tipo="email" required>
            <label for="Email"></label>
            <span class="error-false"></span>
        </div>


        <div class="d-flex">
            <div class="form-floating w-50 ms-1 me-1 my-1 mb-1">
                <select id="campaign" name="campaign" class="form-select input-signup" data-tipo="campaign" required>
                    <option selected disabled>Select a campaign</option>
                    <option value="1">UP</option>
                    <option value="2">ATH Movil</option>
                    <option value="3">Place to Pay</option>
                </select>
                <label for="campaign">Campaign</label>
            </div>

            <div class="form-floating w-50 ms-1 me-1 my-1 mb-1">
                <select id="role" name="role" class="form-select input-signup" data-tipo="role" required>
                    <option selected disabled>Select a role</option>
                    <option value="1">Analyst</option>
                    <option value="2">Supervisor</option>
                </select>
                <label for="role">Role</label>
            </div>
        </div>

        <hr>

        <div class="form-btn d-flex justify-content-end">
            <button id="submit_login" class="btn btn-primary" type="submit">Create User</button>
        </div>

    </form>
</div>

<div class="col-12 d-flex justify-content-center align-items-center">
    <span class="response" role="alert"></span>
</div>
{%endblock%}
{{super()}}